<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar user text-center" :style="{width: life.user + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{ life.user }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar monster text-center" :style="{width: life.monster + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{ life.monster }}
                </div>
            </div>
        </div>
    </section>
    <template v-if="!gameIsRunning">
        <section class="row controls">
            <div class="small-12 columns">
                <button id="start-game" @click="newGame">START NEW GAME</button>
            </div>
        </section>
    </template>
    <template v-else>
        <section class="row controls">
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li v-for="(turn,i) in turns">
                        <div class="player-turn" v-if="i % 2 !== 0" >PLAYER {{ turn < 0 ? "HITS MONSTER FOR " + (-turn): "HEALS HIMSELF FOR " + (turn)}}</div>
                        <div class="monster-turn" v-else>MONSTER {{ turn < 0 ? "HITS PLAYER FOR " : "HEALS HIMSELF FOR "}} {{ -turn }}</div>                      
                    </li>
                </ul>
            </div>
        </section>
    </template>
</div>
<script src="app.js"></script>
</body>
</html>